.createForm div {
  display: flex;
  flex-direction: column;
}

.formBtn {
  margin: 0 30px 20px 55%;
  border: none;
  height: 35px;
  width: 130px;
  color: white;
  background-color: #212121;
}

.createForm input {
  font-weight: 400;
  height: 30px;
  width: 280px;
  outline: none;
  border: 1px solid #424242;
  padding-left: 5px;
}

.createForm label {
  font-size: 14px;
  margin-bottom: 7px;
}

.add {
  margin: 40px 0 30px -110px;
  display: flex;
}

.add h1 {
  margin: 3px 0 0 10px;
}

.errorMsg {
  color: rgb(202, 7, 7);
  font-weight: 400;
  width: 280px;
}

@media screen and (min-width: 700px) {
  .createForm {
    display: flex;
    width: 750px;
    justify-content: space-evenly;
  }
  
  .formBtn {
    margin-left: 75%;
  }
  
  .add {
    margin-left: -460px;
  }
}
