.top {
  width: 100vw;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  width: 120px;
  margin-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-weight: 800;
  margin-left: 5px;
}

.logoutBtn {
  border: none;
  background-color: transparent;
  outline: none;
  margin-right: 25px;
}

.addNaver {
  margin-right: 30px;
  border: none;
  height: 35px;
  width: 130px;
  color: white;
  background-color: #212121;
}

.btn {
  color: rgba(255, 255, 255, 0.7);
}

.top h1 {
  margin-left: 20px;
  font-size: 40px;
}

.naver {
  width: 300px;
  height: 420px;
}

.navers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
  .navers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
  }
} 