.modalFeedback {
  background-color: white;
  position: absolute;
  height: 120px;
  width: 300px;
}

.modalFeedback p {
  font-weight: 400;
  margin: 25px 15px;
}

.modalFeedback h1 {
  font-size: 24px;
  margin: 20px 15px;
}

.closeFeedback {
  position: absolute;
  top: 24px;
  right: 15px;
}

@media screen and (min-width: 700px) {
  .modalFeedback {
    height: 160px;
    width: 592px;
    top: 35%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  .modalFeedback p {
    margin: 40px 0 0 25px;
  }
  
  .modalFeedback h1 {
    margin: 30px 0 0 25px;
  }
}
